* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
  color: #ffffff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav h2 {
  color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  flex-wrap: wrap;
}

.hero-text h3 {
  color: #f87171;
  font-size: 1.5rem;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.hero-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #f87171;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}

.btn.primary {
  background-color: #f87171;
}

.btn:hover {
  background-color: #ffffff;
  color: #0f172a;
}

.hero-image img {
  width: 350px;
  border-radius: 50%;
  border: 5px solid #f87171;
}

.about {
  background-color: #1e293b;
  padding: 60px 0;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services p {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.services img {
  width: 30px;
  margin-right: 10px;
}

.about-text {
  max-width: 600px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-text p {
  margin-bottom: 25px;
  line-height: 1.6;
}

.stats {
  display: flex;
  gap: 30px;
}

.stats div span {
  font-size: 1.5rem;
  color: #f87171;
  font-weight: bold;
}
